{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        {% comment %} <img class="rounded-circle account-img" src=`{{ user.profile.image.url }}`> {% endcomment %}
        <img class="rounded-circle account-img" src="{{ images }}">

        <div class="media-body">
          <h2 class="account-heading">{{ user.fullname }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    <script>
      {% comment %} console.log(user.profile.image.url) {% endcomment %}
      console.log({{ user }})
    </script>
{% endblock content %}